.DS_Store
.classpath
.project
.iml
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log
.settings/
.svn/
.externalToolBuilders/
.compiled/
.next/
logs/
dist/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
yarn.lock
debug.log

admin/loan-admin/debug.log
